<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon> <!-- no site do ionic ja tem os itens que adaptamos-->
    </button>
      <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list> <!-- Componente do ionic para fazer uma lista de dados-->
    <button ion-item *ngFor="let item of items" (click)="showProdutos()"><!--Para todosositens serem clicados ... diretiva do angular *ngFor para repetir tantas vezes onde ela esta o elemento da minha coleção-->
      <ion-thumbnail item-start>
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg"><!--bucketUrl que goi criado no controlador categorias ts-->
      </ion-thumbnail>
      <h2> {{ item.nome }} </h2>
    </button>
  </ion-list>

</ion-content>
